.contenedorPrincipal{
    height: 200px;
    width: 400px;
    border: solid red 1px;
}
.contenedorTareas{
    display: flex;
    justify-content: space-between;
    background-color: red;
    width: 300px;
    height: 30px;
}

.icon {
    width: 35px;
}