.contenedorPrincipal{
    height: 300px;
    width: 400px;
    border: solid red 1px;
}
.contenedorTareas{
    display: flex;
    justify-content: space-between;
    background-color: red;
    width: 500px;
    height: 30px;
}
.contendorInputContador{
    display: flex;
}
.icon, .iconEdit{
    width: 36px;
    height: 36px;
}

